<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- JSON Console Appender for Production -->
    <appender name="JSON_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <pattern>
                    <pattern>{"message": "%message %ex","logger": "%logger","severity": "%level","level": "%level","deliveryId": "%X{deliveryId}","eventId": "%X{eventId}","conversationId": "%X{conversationId}","dialogToken": "%X{dialogToken}","thread": "%thread","@timestamp": "%date{\"yyyy-MM-dd'T'HH:mm:ss.SSS\", UTC}Z"}</pattern>
                </pattern>
            </providers>
        </encoder>
    </appender>

    <!-- Standard Console Appender for Development -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <springProfile name="production">
            <appender-ref ref="JSON_CONSOLE"/>
        </springProfile>
        <springProfile name="!production">
            <appender-ref ref="CONSOLE"/>
        </springProfile>
        <!-- Default appender when no profile is active -->
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
