name: CI
on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: 21
    - name: print Java version
      run: java -version
    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v5
    - name: Build
      run: ./gradlew clean build
